<ul class="mt-6 lg:mt-9 max-w-[900px] grid grid-cols-2 gap-y-10">
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/rich-f5b19d24de18e0a4d9974258069f0d2c12cb6da7a12f4d1c067154f5d4cb2447.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Rich Aberman</strong></div>
      <div class=""><strong>Visiting Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/elizabetha-93c69b85ea3a926febb227db17c0bcba50e1d63486e0ae606fe1fdec60719ee3.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Elizabeth Akman</strong></div>
      <div class=""><strong>Batch Director</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/gustaf-3c242c4312359c3e3ffdd94e4f711ab64d7ab004b819fcb07e7c833cfa15ad42.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Gustaf Alstromer</strong></div>
      <div class=""><strong>Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/lindsay-6510068646ff2f1023873c5975ffe8f5524356dd4c7ae3c699ddebe73e68f6db.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Lindsay Amos</strong></div>
      <div class=""><strong>Director of Communications</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/luis-be0bd0db7b669744a9de018b6073a3daf8eb6fb913c7719dfbcd52f5bb20eb4f.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Luis Bacalao</strong></div>
      <div class=""><strong>General Counsel, YC Continuity</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/katherine-057aad28a60b9de97253c4c29f0be31e62acfd0ee7fc78330106ef25d695f9c9.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Katherine Bernstein</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/tom-bb745732ea4bc70a287a6ce134a04046e816f849e428cbe4de2012274f52e25e.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Tom Blomfield</strong></div>
      <div class=""><strong>Consultant</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/mattb-f2b6817e69e81d898b6f3e803995f5c9aac0cf7a872ed4aa69f3c4043112d59a.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Matt Bogrand</strong></div>
      <div class=""><strong>Principal, YC Continuity</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/joseph-3fca8b8392e875eee1b30258d628a4237be1915c729937f72569458d47377c18.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Joseph Borges-Santos</strong></div>
      <div class=""><strong>Legal Analyst</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/zachb-1caa9c7c1a6c3268302f82c411c7534acb1f93ca7ef25b0acb249486045efc00.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Zach Both</strong></div>
      <div class=""><strong>Video and Content Lead</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/eve-bf6fa4c3b2f778434081f5e539c7872f2590831df62c82a59dfb4ee22e110b75.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Eve Bouffard</strong></div>
      <div class=""><strong>Admissions Associate</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/paulb-1529a048b2cf80e93afa43aacad30ce6adf41f2a9f906a9d6e4a73d937414753.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Paul Buchheit</strong></div>
      <div class=""><strong>Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/ncadman-c0fbae9bf55463fb1f5b4af3ee1a12b32e6889521b30e52cd746dc9203b74527.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Nicole Cadman</strong></div>
      <div class=""><strong>General Counsel, Early Stage</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/dalton-74cd09030194db55aaa7b67d0c52122a7df0c9fa92fa42f70280e92f12ff8191.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Dalton Caldwell</strong></div>
      <div class="">
        <strong>Managing Director, Architect and Group Partner</strong>
      </div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/celia-ac28c40600ee0fefb825fc450f91482528920272e9491c1dbc2b31a42c632946.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Celia Cheung</strong></div>
      <div class=""><strong>Fund Controller</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/jesschoi-93ddee982c71dd85c380ac5740373c7cd29b4f3959833dfd076ee1e3a40cda1b.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Jessica Choi</strong></div>
      <div class=""><strong>Recruiting Operations Manager</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/ryan-8c13c017869beb45f266782b8d3af312628bf5b6ab647754ae28a4992c8e13d2.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Ryan Choi</strong></div>
      <div class=""><strong>Product Manager, Work at a Startup</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/clayson-8637ecf68770c36d12b56d18992c79cc9d87207542bb549476f463bf67ebad0d.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Logan Clayson</strong></div>
      <div class=""><strong>Senior Fund Accountant</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/coco-2a181bcbe360b7e42153c2fe3231596ea241492e92633608e6e3e6238e95e942.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Carolyn Conway</strong></div>
      <div class=""><strong>Admissions Manager and Data Scientist</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/umur-1378ea5d470d8a34c2cbc69cce7b7fcd9d8773baccb6d3e208d15285d64f4f55.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Umur Cubukcu</strong></div>
      <div class=""><strong>Visiting Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/nic-e0f444898604033c9a7d6e5ffb7677d457dab069e57c0b77777045448dd3c9b2.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Nic Dardenne</strong></div>
      <div class=""><strong>Principal, YC Continuity</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/joan-0d85dba32b02d21537a51c99e3da5d211b2b51c6f5c2679d3da8b4b45667b04c.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Joan DeGennaro</strong></div>
      <div class=""><strong>Community Manager, Startup School</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/nicolas-13cc8573bd45ee849cd10e9bca6a6f031d27092bf79eb378fc82a2dd0e0c4e30.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Nicolas Dessaigne</strong></div>
      <div class=""><strong>Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/duhaime-2c5f657b5da1895852d17d841c06802513c7f55c495eec74c8130c07b3e1e7ea.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Doug Duhaime</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/mitchell-2623bd86ed7f1af563a7b472f57ba95707424dc33ef1600c41887a9e447c46ae.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Mitchell Duncombe</strong></div>
      <div class=""><strong>Legal Counsel</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/epstein-c72e476c8a69dca00cdc53c99758ea92a47e7f21a4ae6b5904593f53dd97714b.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Aaron Epstein</strong></div>
      <div class=""><strong>Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/jj-9e28cd68c5857e78608e6d82f10a58d382a1afe3c9170d89d593eae42597a78a.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>JJ Fliegelman</strong></div>
      <div class=""><strong>Visiting Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/brad-7a62648d6c56effccf4017d1727bb9f766682a8eb5985f216627d07845cb4203.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Brad Flora</strong></div>
      <div class=""><strong>Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/jared-f082a52fbcff38552cf0052aaaaa5daaae7403a792a7b68e60771a784303561e.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Jared Friedman</strong></div>
      <div class="">
        <strong>Managing Director, Software and Group Partner</strong>
      </div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <div
        class="w-20 h-20 border border-gray-400 shrink-0 bg-beige-medium"
      ></div>
    </figure>
    <figcaption class="">
      <div class=""><strong>Daniel Gackle</strong></div>
      <div class=""><strong>Hacker News</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/goddard-826d8c6984961479e5bd717225e8a2878e7ffe83144dfb64228816646210d1fc.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Trevor Goddard</strong></div>
      <div class=""><strong>Senior Fund Accountant</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/adele-0a1606be9dcd801938aba95f00a5694df95d504887100aefa3dd04388f9e98c6.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Adele Gower</strong></div>
      <div class=""><strong>Operations Manager</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/anu-2531cbfb334949f87ff86b5040e7efaf0d4c1f6457f9ac1a737afca4448b666a.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Anu Hariharan</strong></div>
      <div class=""><strong>Managing Director, YC Continuity</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/margot-b39185af10f28f77d7bb8f74bde698ec69a6855e45e2ad0b0015bfd19dc48f8d.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Margot Helm</strong></div>
      <div class=""><strong>Executive Assistant, YC Continuity</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/jh-7c00ffa7bb62dfb11c5dfbbdf7b28515aff9298669e323754a2f5cbbc282b848.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Jared Hobbs</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/diana-2fb62995ac22cb7beb60fc94f1002a28761712a798c3785fb2a56f72e6b462ff.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Diana Hu</strong></div>
      <div class=""><strong>Visiting Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/andy-ec3312cac7257b3e137776e0489538c64245b44f6d7b9719dd2edd9be2cfb278.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Andy Huang</strong></div>
      <div class=""><strong>Technical Talent Lead</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/zach-e61a1e211f29656eed94f96afdebcda78e0815704500f9831e771c20c84509db.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Zach Kamran</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/josephine-8328212b32d374ab6c8a9669eb895594b2676f63b4e6bb02d339100ca6b2225d.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Josephine Kant</strong></div>
      <div class=""><strong>Series A Program Manager</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/gaby-bc36de3f113bb0491b32dc70d95e5e40dd305ece3c62fd1c93483df88c80cb39.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Gaby Kapp</strong></div>
      <div class=""><strong>Legal Counsel</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/tommy-669a32a4ea6d8d4d6ff3d1017866174fa17ba22f7a21d6ce670f7b5ae04b55c7.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Tommy Kilmer</strong></div>
      <div class="">
        <strong>Admissions Manager and Software Engineer</strong>
      </div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/ani-b46acbae2892a7e1bc7a22719e0f9bbe59598d70623f4c415daded134277df63.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Ani Kochiashvili</strong></div>
      <div class=""><strong>FP&amp;A Associate</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/pete-2759536d67e4388c7743d9349f7deb3a6d77b3efa386f32f0a3ee6f3e98b447c.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Pete Koomen</strong></div>
      <div class=""><strong>Visiting Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/krishna-364c85ada4588f983a4d6bf7b314b03f9602b1ebf8bd41e35f3b0d85315235e0.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Krishna Korupolu</strong></div>
      <div class=""><strong>Associate, YC Continuity</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/tiffany-214cccf406b874a8101ea89da32252d229628506733cfd42159571e32d2e4e27.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Tiffany Kosolcharoen</strong></div>
      <div class=""><strong>Investment Research Director</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/puneet-f8af78b564262d13b97509e8d718d838dc8f718b3f3fc736fedd86eecc91abf0.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Puneet Kumar</strong></div>
      <div class=""><strong>Consultant</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/carolynn-ab3a37bddcc2fd05ac80962cd3563e000be15cddbb70f40dc256a55d336bae7c.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Carolynn Levy</strong></div>
      <div class="">
        <strong>Managing Director, Legal and People Ops</strong>
      </div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/jon-f88258ffcc7b2a20eaca6c921268c5a8405cea3777bba0a7b91b5494ce4fcda8.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Jon Levy</strong></div>
      <div class=""><strong>Managing Director, Partnerships</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/catheryn-162402d7351065604bf9b69ac6234bd43b1742f178e736cc37cf339d81c773bf.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Catheryn Li</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/yijia-16e60a6638a44022060eac019136757699c101cbc7ac04e1c9c3b5198bfac754.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Yijia Liang</strong></div>
      <div class=""><strong>Research Associate</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/lieb-2d1eaebff08acb76103b198965ea8d0ccb5ea2ea9a75e42310620a5059361c1e.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>David Lieb</strong></div>
      <div class=""><strong>Visiting Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/simon-31f395b7e84b4408a873527f19ce409d4fd3282e74dc75ade6c9e3d235b3ac5a.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Simon Lu</strong></div>
      <div class="">
        <strong>Chief Operating Officer, YC Continuity</strong>
      </div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/irina-3dea7555226aedfefbf3cf34015ed269498d26097c3fed9ca8407c16476fdc97.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Irina Lukashuk</strong></div>
      <div class=""><strong>Fund Accounting Manager</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/mia-117dc53253949ff2c42125eae73e29307c5ecbc22ba92e085e94fff7e31b7800.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Mia Mabanta</strong></div>
      <div class="">
        <strong>Director of Talent and Programs, YC Continuity</strong>
      </div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/emily-144190ac1c2240c182dce5ba38f825d9c714dc29248507fe1704a6d4cc85bec8.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Emily Manashi</strong></div>
      <div class=""><strong>Fund Accounting Manager</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/kat-8e75d8b1a5cba75f95fefd8303a11221a312029e6428425b6efbcbe0ec67064b.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Kat Mañalac</strong></div>
      <div class=""><strong>Head of Outreach</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/renee-62e050202389087ef83d9ae62eb348cdc79ba570df0fdf859ad5901025b98a84.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Renee Mars</strong></div>
      <div class=""><strong>Director of People Operations</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/brigid-36ab5e8527c5e486e1a46448218998e1e9dbe505f63a854382471c5589e8c044.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Brigid McCurdy</strong></div>
      <div class=""><strong>Senior Legal Counsel</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/micah-6c07222f5b052393fd2284dedf471be15d4a3fe3abcce5f0e22ecc942b655baa.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Micah Morgan</strong></div>
      <div class=""><strong>Legal Analyst</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/eliana-9f347e733a742ece9e087cac9acca4bc1858d27ce0b31c5e3d21068ffde082b7.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Eliana Moorer</strong></div>
      <div class=""><strong>Finance Coordinator</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/casey-cf7d87b75a839acf8343c27ab728c559e69133a121e115030e0d635cde0cd2f6.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Casey Muller</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/kirsty-607c96399788efec8c78feef69615608c82bdbb52fa23a89de0f928ba8834a3c.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Kirsty Nathoo</strong></div>
      <div class=""><strong>Managing Director, Finance</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/paige-61d7475e250eab9fc36f750a6020166b1160a6505c8a2548c73e9b62efd064b2.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Paige Omura</strong></div>
      <div class="">
        <strong>Operations &amp; Programs Manager, Work at a Startup</strong>
      </div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/yna-bab2f8c6b23cc8d057b8a942abc642c3e9e0b07d1aa3a304487b339f33b1a7fc.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Yna Ortega</strong></div>
      <div class=""><strong>Fund Accounting Manager</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/oliver-4ae028866359d66be520a0f502d7f987fedb22ab49fa4e996fd364548d36122b.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Oliver Ortlieb</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/eni-89e4aff3d87ceaaf33ace5177fbf5f0f08ffb3327a66967412728e03e75f0b3c.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Eni Oyeleye</strong></div>
      <div class=""><strong>Legal Analyst</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/pennino-1110fc98250b5675c8d121673497bb29e432fc40000f5006f01fe4da159e085f.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Sean Pennino</strong></div>
      <div class=""><strong>Admissions Manager</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/alex-5ef29140cd7cc2382090ebde39781ac4f9a1fd9b94c8f458afd4185ed21c67e9.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Alex Petersen</strong></div>
      <div class=""><strong>Senior Legal Counsel</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/jeff-004a49a35eaec280f6be7c09d31cdd79f36dc69f32bc0d3c713c5e6f5e266459.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Jeff Peterson</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/steven-9e8e9988b5edd9957530de3e167e27f37c82268a0257c442dcae47d5e6c5f7e5.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Steven Pham</strong></div>
      <div class=""><strong>Online Community Director</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/verena-dcae8e78be55194fc23f13cb28ea3f9a6d5d36dde10cac4bdd4f4f2ed44368e2.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Verena Prescher</strong></div>
      <div class=""><strong>Director of Finance</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/angela-ed309f690c305c374e988449ad732ec21a22959b26dfbc7efdfb3b7784e9be28.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Angela Prochnow</strong></div>
      <div class="">
        <strong>Legal Operations &amp; Innovation Program Manager</strong>
      </div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/di-79cf5a4d2cbd6599ce41e7a50077fee9e8508b4bad85add1963b10467c7dfe82.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Di Qi</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/geoff-9d1b86659edfd9dd861ec5f14586f8b75ca474a9dae9bff549cdb557fe5ba2e4.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Geoff Ralston</strong></div>
      <div class=""><strong>President</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/ali-47179f710ced4449ea91d9745e0f2528fcc762c5b3d72688fadbc66de2ec4c7b.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Ali Rowghani</strong></div>
      <div class=""><strong>Managing Director, YC Continuity</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/carly-372a6d1e7b0921c71d77c1f4bd3ab926f8c229e7b114743ce4d6f822a4923b03.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Carly Ruiz</strong></div>
      <div class=""><strong>Project Support, YC Continuity</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/arnav-0a93533ef600b1adc3139f4cc889b224d09db327c7181c83a3ef8a2f3a1b4f26.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Arnav Sahu</strong></div>
      <div class=""><strong>Principal</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/surbhi-ba029c434a956fa8723eeb182abf04f8d7d25b76c05073ab796d2e5a694c8c7a.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Surbhi Sarna</strong></div>
      <div class=""><strong>Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/maxwell-94bcadbe48e1ffa8bc73a2b7e10f6738783a65ccbf52bef678c20989621b868b.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Maxwell Schorer</strong></div>
      <div class=""><strong>Software Engineer, Data</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/schwyter-e8b70eb2a6bc26e623eb7aeabf31539379b2399caadc3c6784a8502d92359fb6.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Esther Schwyter</strong></div>
      <div class=""><strong>Fund Account Manager</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/michael-973ee18e1ffcbe798f27b52c9d8662084643e355f8b04c64c28da22d29e81c2e.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Michael Seibel</strong></div>
      <div class="">
        <strong>Managing Director, Early Stage and Group Partner</strong>
      </div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/lindsays-a1016a50710a84cca9149bbc94d159ea103935fbba7017c4e675ea380552bf2e.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Lindsay Selvitelle</strong></div>
      <div class=""><strong>Director of Events</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/karan-298e56ff39986586178b426dd5f800f8991747307aee6c0bf175a2e5fc21475b.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Karan Shah</strong></div>
      <div class=""><strong>Senior Associate, YC Continuity</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/chris-4c85e8ba29ae59ac55923dc259eee68977aca5511e02b40ebf159072e1f135c0.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Chris Simon</strong></div>
      <div class=""><strong>Data Entry Specialist</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/steph-af6b11e61b7a3c55b099c780fe0a359236ceaab496850b530d178aedb8cefb2c.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Stephanie Simon</strong></div>
      <div class=""><strong>Managing Admissions Officer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/anji-c675fab95e47e23eaefafd74574810d6393e0d880f1e2449e08b878fb0745c89.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Anji Song</strong></div>
      <div class=""><strong>Fund Controller</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/frank-6318370bccecaae2295528ad74dd6823d9009d214146a54c518db578f7053bfe.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Frank Stratton</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/christine-9b320d8d96ea96dfb2366ea9b478ba72cee20b404e78a589aad136c6fee30282.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Christine Sun</strong></div>
      <div class=""><strong>Associate, YC Continuity</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/tommys-2b125e8ff2af8d4cfcf4e9b0341a3f1a4a263b85ce690f92e9531c0b5e544fd9.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Tommy Szalasny</strong></div>
      <div class=""><strong>Legal Counsel</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/harj-f53971b3795aab7a53fed54e17919c8a20ec5f62dda8512dcfa011ef5c076c23.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Harj Taggar</strong></div>
      <div class=""><strong>Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/tasnim-85707e34d95e4f9f9c6b8b683c6ab95a748050dc22aac445fabd9c6a38df3d94.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Tasnim Thakur</strong></div>
      <div class=""><strong>Legal Analyst</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/mthurman-7d134010bf23efbdadf6d770600f3af0ab59a3bf88658b58718ad7b0c6c5eee9.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Mark Thurman</strong></div>
      <div class=""><strong>Product Engineer</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/heather-faf1a2202f5256b7c236568ac514a9e85e15676f11878e3ffd90e348940d0fa1.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Heather Torres</strong></div>
      <div class=""><strong>Head of GTM Talent</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/shirley-f9f94581576fe71b1f907a035a36d7498a281f23ffe013c8cf303c597c93f655.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Shirley Truy</strong></div>
      <div class=""><strong>Paralegal</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/tatyana-d717fe0693a2b9cf5f1c7bc0cb24be7c53a6846c36e053023930ce3a02d1a6be.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Tatyana Veremyova</strong></div>
      <div class=""><strong>Director of Payroll &amp; Benefits</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/liz-9efafd89410a76513264a887cbeafa6a477da117976a489e50056922a2330cf2.png"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Liz Wessel</strong></div>
      <div class=""><strong>Visiting Group Partner</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/perry-2e63c816f73ab0c6a7a2c733877723dcc522aff14ee24814a020d4123a0cb088.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Perry Wang</strong></div>
      <div class=""><strong>Data Science &amp; Growth Manager</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/shaun-9602a29d4128a62dee0a7aaaf9febb6345cf67b724a13a1a3fa958cb4d545634.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Shaun Weber</strong></div>
      <div class=""><strong>Director of Tax</strong></div>
    </figcaption>
  </li>
  <li class="flex flex-row flex-nowrap gap-x-5">
    <figure class="shrink-0">
      <img
        class="object-cover w-20 h-20 border border-gray-400 shrink-0"
        width="80"
        src="https://www.ycombinator.com/assets/ycdc/people/shellie-d6252d5569f20fba370dc6d610ec19daf9a922b6a4efa4ec391630e023c1b1d7.jpg"
        alt=""
        loading="lazy"
      />
    </figure>
    <figcaption class="">
      <div class=""><strong>Shellie Wong</strong></div>
      <div class=""><strong>Fund Accounting Manager</strong></div>
    </figcaption>
  </li>
</ul>
